
body{
	background-color: rgb(20,200,100);
	color: black;
	margin: 20px;

}

.container{
	width: 90%;
}
.box{
	background-color: rgb(20,100,180);
	padding: 20px;
	margin: 20px;

}
.txt{
	font-size: 20px;
}